.information{
    width: 100%;
    height: 350px;
}

.information__data{
    width: 500px;
    height: 300px;
    margin-left: 23vw;
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information__data span{
    color: black;
    margin-bottom: 15px;
}

.information__data p{
    font-weight: 500;
    color:#868686;
    margin-bottom: 15px;
}